@import url(https://fonts.googleapis.com/css?family=Lato:700);

body{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: chartreuse;
    text-shadow:0 0 2px rgb(213, 255, 171);
}
.add-button {
    position: absolute;
    top: 1px;
    left: 1px;
}
.container{
    display: flex;
    min-width: 300px;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
#app h2{
    font-size: 40px;
    border-bottom: 2px solid #ddd;
    padding:16px 0;
}
#app h2 i{
    margin-left: 50px;
    text-shadow: none;
}
#app ul{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 20px;
    list-style: none;
}
#app li{
    line-height: 1.5;
    font-size: larger;
    margin-bottom: 10px;
}
#app form{
    text-align: center;
}
#app input[type="text"]{
    padding: 2px;
    border-radius: 10px;
}
#app input:focus {
    box-shadow: 0 0 10px 0 rgba(255,153,0,1);
    border: 2px solid #FFF !important;
    border-radius: 10px;
    outline: 0;
}
#app .add-btn{
    background-color: slategray;
    color: #FFF;
    padding: 3px 15px;
    text-align: center;
    border-radius: 20px;
}
.command{
    font-size: 14px;
    cursor: pointer;
    color: aqua;
}
#app li > span.done{
    text-decoration: line-through;
    color: #bbb;
    text-shadow: none;
}
.info {
    color: #bbb;
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace ;
}
#app h2 > button{
   float: right;
}

.today {
    color: red;
    text-shadow:0 0 3px rgb(255, 95, 95);
}
.this-sp {
    color: yellow;
    text-shadow:0 0 2.5px rgba(253, 255, 136, 0.603);
}
.next-sp {
    color:greenyellow;
    text-shadow:0 0 2.5px greenyellow;
}
.someday {
    color: blue;
    text-shadow:0 0 2.5px blue;
}

/* Progress-Circle */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif, Arial, Helvetica;
}

.player {
    width: 100px;
    height: 100px;
    background: #eee;
    position: relative;
    border-radius: 50%;
    overflow: visible;
    margin: 80px auto;
}

.player:hover {
    opacity: .8;
}

.left-side {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 50%;    
    border: 2px solid #eee;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
}

.left-side.fill {
    border-color: transparent;
    border-left-color: #4beade;
    border-bottom-color: #4beade;
}

.right-side {
    transform: rotate(45deg);
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 50%;    
    border: 2px solid #4beade;
    border-left-color: #eee;
    border-bottom-color: #eee;
}

.player-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #4beade;
  font-weight: 700;
  font-size: 20px;
}

.player-title {
    position: absolute;
    left: 0; right: 0;
    top: calc(50% + 55px);
    text-align: center;
    color: #999;
}

